<a routerLink="/courses/{{courseId}}/quizzes" class="btn btn-light">Back to Quizzes</a>
<br/>
<div>
  <h2>Quiz</h2>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let question of questions">
      <div [ngSwitch]="question.type">
        <app-true-false-question
          [question]="question"
          [(answer)]="question.answer"
          *ngSwitchCase="'TRUE_FALSE'"></app-true-false-question>
        <app-multiple-choice-question
          [question]="question"
          [(answer)]="question.answer"
          *ngSwitchCase="'MULTIPLE_CHOICE'"></app-multiple-choice-question>
      </div>
    </li>
  </ul>
  <br/>
  <button class="btn btn-danger" (click)="submitQuiz()">
    Submit Quiz
  </button>
  <br/>
  <br/>
  <div *ngIf="score !== 'null'">
    Your Score : {{score}}%
  </div>
  <br/>
  <br/>
</div>
