<!--<a href="/courses">-->
<!--  X-->
<!--</a>-->
<!--<h2>Course Viewer {{courseId}}</h2>-->
<!--<h3>{{course.title}}</h3>-->

<div class="container">
  <div class="row">


    <div class="col-sm-8">

        <div class="row">

          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a href="/courses" class="nav-link cursor-pointer">
              <i class="fa fa-times"></i>
            </a>
            <a href="#" class="navbar-brand wbdv-course-title">Course {{course.title}}</a>
          </nav>

        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-4 bg-secondary">
            <app-module-list></app-module-list>
          </div>
          <div class="col-sm-8">
            <app-lesson-tabs></app-lesson-tabs>
          </div>
        </div>
      </div>

  </div>
</div>

